<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArgumentParser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Instructor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Pizzabot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PizzabotTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E502B54E277234B00071F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E502B555277234B00071F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E502B58A277345600071F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E502B591277345600071F8F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50EDC7E2771D80B000D831F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E50EDC922771EC55000D831F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
